
input, button {
    appearance: none;
    background:none;
    border: none;
    outline: none;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: left;
    
}

form {
    display: block;
    position: relative;

}

form .form-inner{
    position: relative;;
    display: block;
    background-color: #FFF;
    z-index: 2;
}

form .form-inner .form-group {
    display: block;
    width: 1100px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    margin-bottom: 5px;
    transition: 0.4s;
    font-size: 20px;
}

.form-inner .form-group:focus-within label {
    color: #FE4880;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

}

form .form-inner input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #1AC67E;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
}